@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111827;
}

.carousel__inner-slide {
  width: calc(100% - 8px) !important;
  margin-left: 4px;
}

.btn-yellow {
  @apply bg-yellow-300 hover:bg-yellow-200 shadow-[0_4px_0_0] shadow-yellow-600 active:shadow-none active:translate-y-1 text-black font-medium rounded-xl;
}

.btn-default {
  @apply bg-gray-600 hover:bg-gray-500 shadow-[0_4px_0_0] shadow-gray-800 active:shadow-none active:translate-y-1 text-slate-200 rounded-lg;
}
